/* @override 
	http://www.tendance-garden.fr/static/css/style.css
	http://localhost:8000/static/css/style.css
*/

body {
	background-color: #626364;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #fff;
	font-family: 'JamesFajardoRegular';
	font-size: 84px;
	font-weight: normal;
	text-align: center;
	text-shadow: #000000  1px 1px 0;
	height: 93px;
	border-bottom: 2px #ffffff solid;
}

span.slogan {
	position: absolute;
	z-index: 10;
	color: #bc0c26;
	font-size: 16px;
	font-weight: bold;
}

#mobilier {
	position: absolute;
	top: 78px;
	left: 16px;
}

a{
	color: #bc0c26;
	font-weight: bold;
	text-decoration: none;
}

#int-ext {
	position: absolute;
	top: 78px;
	left: 89px;
}

#page h2,
#page h3 {
	color: #505050;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: -2px;
	font-weight: bold;
}

h2.fondgris {
	background-color: #ccc;
	background-color: #0769cb;
}

#page {
	background-color: #fff;
	display: inline-block;
	background-image: url(/static/images/signe_bas.png);
	background-repeat: no-repeat;
	background-position: right top;
	position: relative;
}

#colonne {
	display: inline-block;
	font-size: 14px;
	padding: 20px;
}

#colonne h5{
	font-weight: bold;
	text-align: left;
	color: #75243a;
	font-size: 16px;
	text-indent: 30px;
}

address{
	display: block;
	position: relative;
	left: 10px;
}

#carte{
	position: absolute;
	left: 130px;
	top: -5px;
}

#colonne em{
	font-style: italic;
	font-size: 12px;
}

#entete {
	background-image: url(/static/images/fond_indoor.jpg);
	background-repeat: no-repeat;
	height: 175px;
	position: relative;
}

#contact{
	position: absolute;
	right: 10px;
	top: 8px;
	text-align: right;
	
	color: #41565e;
	font-size: 14px;
	line-height: 15px;
	font-weight: bold;
}

#logo {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#menubar {
	height: 80px;
	background-color: #bc0c26;
	background-image: url(/static/images/bandeau_vert.png);
	background-repeat: repeat-x;
	position: relative;
}

#navbar {
	font-weight: bold;
	font-size: 12px;
	color: #afa391;
	margin-top: 10px;
	margin-bottom: 20px;
}

#navbar li{
	display: inline;
}

#navbar li:before{
	content: "> ";
}

#navbar a{
	text-decoration: none;
	color: #6e9fce;
}

#navbar a:hover{
	color: #1923da;
	text-decoration: underline;
}

#lien_collections img {
	width: 20px;
	height: 20px;
	position: relative;
	bottom: 6px;
}

#lien_collections {
	display: inline-block;
	width: 200px;
	float: left;
	font-family: 'JamesFajardoRegular';
	font-size: 40px;
	text-decoration: none;
	color: #ffffff;
	background-repeat: no-repeat;
	margin-top: 24px;
	margin-left: 40px;
}

#navigation {
	position: absolute;
	top: 7px;
	right: 10px;
}

#navigation li {
	float: left;
	width: 86px;
	font-size: 12px;
	text-align: center;
	position: relative;
}

#navigation li a:hover{
	text-decoration: underline;
}



#navigation img {
	width: 50px;
	height: 50px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3px;
}

#navigation a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: bold;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

#colonne{
	width: 240px;
	
	height: 380px;
	margin-left: -25px;
	background: url(/static/images/ombre-colonne.png) no-repeat;
	position: relative;
	top: 80px;
	margin-bottom: 20px;
}

/* @group footer */

#footer {
	display: inline-block;
	background-color: #e3e4e4;
	background-image: url(/static/images/feuilles_grises.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	position: relative;
}

#footer a{
	
	color: #707173;
	font-weight: normal;
	font-style: normal;
}

#footer ul{
	margin: 0;
}

#footer ul.bulls{
	list-style-type: circle;
	list-style-position: inside;
	color: #707173;
}

#footer ul li ul{
	
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;

}


#footer a:visited:before {
   	content:  "\2713 ";
}

.footlinks > h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

.footlinks > h4 {
	font-family: 'JamesFajardoRegular';
	font-size: 26px;
}

.footlinks > ul {
	margin-bottom: 5px;
}

#w3c{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#coord{
	margin-left: auto;
	margin-right: auto;
	background-color: #f6f6f6;
	padding: 20px;
	width: 190px;
}

#coord address{
	padding: 0;
	margin: 0 0 0 -5px;
}

.tel{
	font-weight: bold;
	font-size: 19px;
	color: #bc0c26;
}

/* @end */

/* @group Liste Produits */

#product_category{
	display: inline-block;
	position: relative;
}

#product_category li{
	display: block;
	margin-bottom: 17px;
	position: relative;
}

.product_listing:hover{
}

/*
Thanks
http://www.jakpsatweb.cz/css/css-vertical-center-solution.html
*/


.product_listing{
	border: 1px solid #a9a9a9;
	position: relative;
	overflow: hidden;
		
	display: table;
	height: 107px;
	width: 100%;
}

.product_wrapper{
	position: relative;
	padding: 10px;
	vertical-align: middle;
	display: table-cell;
	#position: absolute;
	#top:50%;
}

#product_category img{
	#position: relative;
	#top: -50%;
}

.minidesc{
	position: absolute;
	left: 110px;
	font-size: 12px;
	line-height: 16px;
}


.listed_in{
	font-weight: bold;
	color: #a9a9a9;
}


/* @end */

/* @group Catégorie */



.product_category_header {
	margin-bottom: 20px;
	display: inline-block;
}

.product_category_description{
	display: block;
	margin-bottom: 20px;
	font-style: italic;
	color: #515151;
}

div.sous-cat{
	position: relative;
	margin-left: 15px;
	width: 200px;
	overflow: hidden;
	height: 280px;
	margin-bottom: 25px;
}

div.sous-cat.bl-hover h4{
	color: #bc0c26;
	background-color: rgba(234,234,234,0.7);
}


div.sous-cat h4{
	position: absolute;
	background-color: #bc0c26;
	color: #fffeff;
	width: 120px;
	font-size: 22px;
	font-weight: bold;
	padding: 15px 10px;
	text-align: center;
	line-height: 26px;
}

/* @end */

/* @group Produit */

table.attributes{
	border-collapse: collapse;
	border: 1px;
	font-size: 14px;
}

.attributes th,
.attributes td{
	border: 1px solid #616161;
	padding: 5px;
}

.attributes th{
	text-align: left;
	font-weight: normal;
	padding-right: 20px;
	background-color: #d9d9d9;
	font-style: normal;
}

.attributes{
	
}



/* @end */



/* @group filterpatch */

.selector {
    width: 900px;
}

.selector-available, .selector-chosen {
    width: 420px;
	border: 1px solid #ccc;
}

.selector ul.selector-chooser {
	margin: 8em 10px 0;

}

.selector select {
    margin-bottom: 5px;
    margin-top: 0;
	width: 420px;
}

a.selector-chooseall, a.selector-clearall {
    width: 12em;
}

/* @end */



