{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_category %}

{% block extra-head %}
{% if category.meta %}
    <meta name="description" content="{{ category.meta|escape }}">
{% endif %}

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{media_url}}js/jquery.biggerlink.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("div.sous-cat").biggerlink();
        })
    </script>
{% endblock %}


{% block content %}
<div class="grid_12 blanc product_category_header">


    {% block navbar %}
    <ul id="navbar">
        <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
    	{% for parent in category.parents %}<li><a href="{{ parent.get_absolute_url }}">{{ parent.translated_name }}</a></li>{% endfor %}
    	<li>{{ category.translated_name }}</li>
    </ul>	
    {% endblock %}



<h3>{{ category.translated_name }}</h3>
{% if category.translated_description %}
    <p class="product_category_description">{{ category.translated_description }}</p>
{% endif %}
</div>

<div id="product_category">

{% if child_categories %}
        {% for cat in child_categories %}
        <div class="grid_2 sous-cat">
            <h4>{{cat.translated_name}}</h4>
            {% thumbnail cat.main_image.picture 200 as image %}
            <a href="{{ cat.get_absolute_url }}">
                <img src="{{media_url}}/{{ cat.main_image.picture }}" 
                    width="{{ cat.main_image.picture.width }}" 
                    height="{{ cat.main_image.picture.height }}" /></a>               
        </div>    
        {% endfor %}
{% endif %}
    
    {% for product in products %} 
        {% if forloop.first %} <ul>  {% endif %}
            <li class="grid_4"><div class="product_listing">
                {% thumbnail product.main_image.picture 85x85 as image %}
                <a href="{{ product.get_absolute_url }}">
                <img src="{{ image }}"/></a>
                <span class="minidesc">
                
                    <a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a>
                    <br/>
                    {% for parent in product.parents %}
                    
                    {% endfor %}
                    <br/>
                    {% for attr in product.productattribute_set.all %}
                    {% if attr.name == 'matiere' %}
                    <b>{{ attr.name }}</b> :  {{ attr.value }}
                    {% endif %}
                    {% endfor %}
            </span>
            </div></li>
        {% if forloop.last %} </ul> {% endif %}
    {% endfor %}
    
    
</div>
<br/><br/>


{% endblock %}
