{% extends "shop/base.html" %}
{% comment %}
-------------------------------------------------------------------
This is the base product detail page.
To modify the templates of specific types of products, such as
ProductVariations or CustomProducts, look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}

{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}


{% block content %}
<div class="grid_12 blanc">


{% block navbar %}
    <ul id="navbar">
    <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
    {% for name, url in product.category.all.0.get_url_name %}
        <li><a href="{{ url }}">{{ name }}</a></li>
    {% endfor %}
    <li>{{ product.translated_name }}</li>
    </ul>
{% endblock %}
<h3>{{ product.translated_name }}</h3>

</div>

<div class="grid_5 blanc">    
    {% for pic in product.productimage_set.all %}
        {% thumbnail pic.picture 380x380 as image %}
        <img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" />
    {% endfor %}
    
</div>

<div class="grid_4 blanc">
    <p>{{ product.description }}</p>
</div>

<div class="grid_3 blanc">
    {% with product.translated_attributes as atts %}
        {% if atts %}
            <p class="productattributes">
            {% for att in product.translated_attributes %}
            {{ att.description }}: {{ att.value }}<br/>
            {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
</div>

<div class="grid_12 blanc">
<br/><br/>
</div>
{% endblock %}
