{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% block title %}Accueil{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function(){  
    $("#diaporama").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);  

    $("#diaporama").hover(  
        function() {
            $("#diaporama").tabs("rotate",0,true);  
            },  
        function() {  
            $("#diaporama").tabs("rotate",5000,true);  
            }  
    );
    $("#collections > li.a").hover(
        function() {
            $(this).addClass('ui-state-active');
            $(this).addClass('ui-tabs-selected');
        }
        )
});
</script>
{% endblock %}


{% block content %}
<div class="grid_9 blanc">

<div id="diaporama" >  
    <ul class="ui-tabs-nav gamme" id="collections">  

        {% for cat in int_cats %}
        <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-{{ cat.id }}">
        <a href="#fragment-{{ cat.id }}">{{ cat.name }}</a>
        </li>
        {% endfor %}
        {% for cat in ext_cats %}
        <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-{{ cat.id }}">
        <a href="#fragment-{{ cat.id }}">{{ cat.name }}</a>
        </li>
        {% endfor %}

    </ul>  
    
    <div id="cadrediapo">
        {% for cat in int_cats %}
        <div id="fragment-{{cat.id}}" class="ui-tabs-panel" style="">  
            <img src="{{media_url}}/{{ cat.main_image.picture }}" alt="" />  
            <div class="info" >  
            <h2><a href="{{ cat.get_absolute_url }}" >Découvrez la gamme {{cat.name}}</a></h2>  
            <p><a href="{{ cat.get_absolute_url }}" >{{cat.description}}</a></p>  
            </div>  
        </div>  
        {% endfor %}
        {% for cat in ext_cats %}
        <div id="fragment-{{cat.id}}" class="ui-tabs-panel" style="">  
            <img src="{{media_url}}/{{ cat.main_image.picture }}" alt="" />  
            <div class="info" >  
            <h2><a href="{{ cat.get_absolute_url }}" >Découvrez la gamme {{cat.name}}</a></h2>  
            <p><a href="{{ cat.get_absolute_url }}" >{{cat.description}}</a></p>  
            </div>  
        </div>  
        {% endfor %}
        

    </div>
</div>  
</div>

{% endblock %}

{% block colonne %}

<div class="grid_3 blanc">

    <div id="colonne">
    
        <h5>Site en construction</h5>

        <img src="{{media_url}}images/magasin.jpg" width="190"/>
		<br/><br/>

        <em>Retrouvez-nous à Lempdes :</em> <br/><br/>
           
        <address>
               <a href="http://maps.google.fr/maps?q=rue+de+milan+lempdes&hl=fr&ll=45.776099,3.205004&spn=0.008561,0.021136&sll=46.75984,1.738281&sspn=8.611865,21.643066&vpsrc=6&t=h&z=16">    
               <img id="carte" src="{{media_url}}images/carte.png">
               </a>   
            <b>Tendance Garden</b><br/>
            Rue de Milan<br/>
            63370 LEMPDES<br/><br/>
            <b class="tel">Tel : 04.73.61.65.45</b><br/>

        </address>
    

    </div>

</div>

{% endblock %}

