{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% block title %}Accueil{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function(){  
    $("#diaporama").tabs({  fx:{opacity: "toggle"},
                            event: "mouseover"}).tabs("rotate", 5000, true);  

    $("#diaporama").hover(  
        function() {
            $("#diaporama").tabs("rotate",0,true);  
            },  
        function() {  
            $("#diaporama").tabs("rotate",5000,true);  
            }  
    );
    $("#collections > li a").click(function(){
        window.location = $(this).attr('rel');
    });
    
    /*$("#collections > li").hover(
        function() {
            $(this).addClass('ui-state-hover');
            $(this).addClass('ui-tabs-selected');
        }
        ,function() {
            //$(this).removeClass('ui-state-active');
            $(this).removeClass('ui-state-hover');
            $(this).removeClass('ui-tabs-selected');
        }
        );*/
});


</script>
{% endblock %}


{% block content %}
<div class="grid_9 blanc">

<div id="diaporama" >  
    <ul class="ui-tabs-nav gamme" id="collections">  

        {% for cat in int_cats %}
        <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-{{ cat.id }}">
        <a href="#fragment-{{ cat.id }}" rel="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        </li>
        {% endfor %}
        
        <br/><br/>
        
        {% for cat in ext_cats %}
        <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-{{ cat.id }}">
        <a href="#fragment-{{ cat.id }}" rel="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        </li>
        {% endfor %}

    </ul>  
    
    <div id="cadrediapo">
        {% for cat in int_cats %}
        <div id="fragment-{{cat.id}}" class="ui-tabs-panel" style="">  
            <img src="{{media_url}}/{{ cat.main_image.picture }}" alt="" />  
            <div class="info" >  
            <h2><a href="{{ cat.get_absolute_url }}" >Découvrez la gamme {{cat.name}}</a></h2>  
            <p><a href="{{ cat.get_absolute_url }}" >{{cat.description|safe}}</a></p>  
            </div>  
        </div>  
        {% endfor %}
        {% for cat in ext_cats %}
        <div id="fragment-{{cat.id}}" class="ui-tabs-panel" style="">  
            <img src="{{media_url}}/{{ cat.main_image.picture }}" alt="" />  
            <div class="info" >  
            <h2><a href="{{ cat.get_absolute_url }}" >Découvrez la gamme {{cat.name}}</a></h2>  
            <p><a href="{{ cat.get_absolute_url }}" >{{cat.description|safe }}</a></p>  
            </div>  
        </div>  
        {% endfor %}
        

    </div>
</div>  
</div>

{% endblock %}

{% block colonne %}

<div class="grid_3 blanc">

    <div id="colonne">
    

    

    </div>

</div>

{% endblock %}

